
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Devanagari:wght@200;300&display=swap');

span{
    font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: normal;  	
    }
    span.nametag{
        float: right;
        font-size: 10px;
        font-weight: lighter; 
        font-style: italic;
        margin-bottom: 8px;
       
    }
    h1{
        font-size: 20px;
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        padding-top: 10px;
    
    }
    h2{
        text-align: left;
        margin-bottom: 2px;
        padding-bottom: 4px;
        font-size: 14px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    
    }
    h3{
        margin-top: 10px;
        text-align: left;
        border-bottom: 0.01em solid black;
        margin-bottom: 0px;
        padding-bottom: 2px;
        font-size: 14px;
        font-weight: bold;
        font-family: Arial, Helvetica, sans-serif;
    
    }
    ul{
        line-height: 1.5
    }
    ol{
        line-height: 1.5
    }
    
    
    
    .table{
        margin: 0px; 
        width: 100%;
        padding:0px;
        border-collapse: collapse;
        
    }
    
    .table thead tr td,
    .table tfoot tr td,
    .table tbody tr td {
        padding: 0px ;
        vertical-align: middle;
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: normal;  
    }
    
    .admtable tbody tr td {
        border: 1px solid;
        padding: 4px; 
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;  
    }
    
    .birthdatatbl tbody tr td{
        text-align: left;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px; 
        padding: 4px; 
        
    }
    
    #course{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
    }
    
    #consent{
        font-family: 'Noto Serif Devanagari', serif;
        font-size: 11px;
    }
    
    #treatment{
    
        
        font-family: 'Noto Serif Devanagari', serif;
        font-size: 12px;
    }
    
    #instructions{
        
        font-family: 'Noto Serif Devanagari', serif;
        font-size: 12px;
    
    }